/* Custom properties */

:root {
    --lightred: hsl(0, 100%, 67%);
    --orangeyyellow: hsl(39, 100%, 56%);
    --greenteal: hsl(166, 100%, 37%);
    --cobaltblue: hsl(234, 85%, 45%);
    --white: hsl(0, 0%, 100%);
    --paleblue: hsl(221, 100%, 96%);
    --Lightlavender: hsl(241, 100%, 89%);
    --darkgrayblue: hsl(224, 30%, 27%);
    --lightslateblue: hsl(252, 100%, 67%);
    --lightroyalblue: hsl(241, 81%, 54%);
    --ioletblue: hsla(256, 72%, 46%, 1);
    --persianblue: hsla(241, 72%, 46%, 0);

    --fontstandard: 500;
    --fontsemibold: 700;
    --fontbold: 800;
}


/* General */

* {
    font-size: 1.125rem;
    font-family: Hanken Grotesk;
    font-weight: 500;
    margin: auto;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.master-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 600px;
    background-color: black;
    justify-content:baseline;
 }


/* Results Box */

.results-box {
    background-color: aqua;
}


/* Summary Box */


.summary-box {
    background-color: var(--white);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
